* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #91c48a;
  --secondary-color-1: #ffa9a3;
  --secondary-color-2: #6d9dc5;
  --secondary-color-3: #485751;
  --background-color: #f4f4f4;
  --dark-color: #333;
  --light-color: #fff;

  --priority-high: #ff0000;
  --priority-medium: #ff8c00;
  --priority-low: #32cd32;

  --todo-background-color: #9f9f9f41;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

  background-color: var(--background-color);
  color: var(--dark-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.header {
  grid-area: header;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: x-large;
}

.menu-points {
  display: flex;
  gap: 20px;
}

main {
  grid-area: main;
}

.aside {
  position: relative;
  grid-area: aside;
  padding: 20px;
  background-color: var(--secondary-color-1);
}

.menu-points {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-point {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color-2);
  text-align: center;
}

.menu-point a {
  color: var(--light-color);
}

.menu-point:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}

.new-Todo-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-color-2);
  color: var(--light-color);
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
}

.new-Todo-btn:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}

.new-todo-modal,
.edit-todo-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  background-color: var(--secondary-color-1);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px 0 var(--dark-color);
  z-index: 100;
  gap: 20px;
}

.new-todo-modal::backdrop,
.edit-todo-modal::backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.new-todo-form,
.edit-todo-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.input-style {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color-1);
  color: var(--dark-color);
}

.input-style:focus {
  outline: none;
}

.form-title {
  font-size: x-large;
}

.form-description {
  font-size: large;
  resize: none;
}

#description {
  width: 100%;
}

.form-due-date {
  font-size: large;
  border: 2px solid var(--dark-color);
}

.form-priority {
  font-size: large;
  border: 2px solid var(--dark-color);
}

.button-row {
  gap: 20px;
}

.button-row-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color-2);
  color: var(--light-color);
  text-align: center;
  font-size: large;
}

.button-row-btn:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}

.equal-cols {
  display: flex;
}

.equal-cols > * {
  flex: 1;
}

#TodoContainer {
  width: 100%;
  padding: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--todo-background-color);
  color: var(--dark-color);
}

.leftElements,
.rightElements {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.priority-high {
  border-left: 5px solid var(--priority-high);
}

.priority-medium {
  border-left: 5px solid var(--priority-medium);
}

.priority-low {
  border-left: 5px solid var(--priority-low);
}

.showDetails {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color-2);
  color: var(--light-color);
  text-align: center;
  font-size: medium;
}

.showDetails:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}

.footer {
  grid-area: footer;
  padding: 20px;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--dark-color);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  color: var(--light-color);
}

.editTodo,
.deleteTodo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: none;
  background-color: var(--secondary-color-2);
  text-align: center;
  font-size: medium;
}

.editTodo:hover,
.deleteTodo:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}
