* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #91c48a;
  --secondary-color-1: #ffa9a3;
  --secondary-color-2: #6d9dc5;
  --secondary-color-3: #485751;
  --background-color: #f4f4f4;
  --dark-color: #333;
  --light-color: #fff;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

  background-color: var(--background-color);
  color: var(--dark-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.header {
  grid-area: header;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: x-large;
}

.menu-points {
  display: flex;
  gap: 20px;
}

main {
  grid-area: main;
  width: 80%;
}

.aside {
  position: relative;
  grid-area: aside;
  padding: 20px;
  background-color: var(--secondary-color-1);
}

.menu-points {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-point {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color-2);
  color: var(--light-color);
  text-align: center;
}

.menu-point:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}

.new-Todo-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-color-2);
  color: var(--light-color);
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
}

.new-Todo-btn:hover {
  box-shadow: 0 0 5px 0 var(--dark-color);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.modal::backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  grid-area: footer;
  padding: 20px;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--light-color);
}
